div.content {
  float: left;
  width: 704px;
  min-height: 480px;
  margin-left: -1px;
  padding-left: 35px;
  border-left: 1px solid $divider-color;
  
  div.content_div {
    margin-bottom: 40px;
    
    div {
      width: 704px;
      max-width: 704px;
      overflow: auto;
    }
  }
}