@mixin text-shadow($inset, $color: none, $blur: 2px) {
    $bgcolor: none;
    @if $inset == inset {
      $bgcolor: lighten($color, 70);
    } @else {
      $blur: $color;
      $color: $inset;
      $bgcolor: darken($color, 70);
    }
    color: $color;
    text-shadow: 0 1px $blur $bgcolor;
}