%section{:id => 'dashboard_messages_index'}
  .heading
    %h2 Messages
    %nav
      = link_to 'Create new message', new_dashboard_message_path, :class => 'button'
  %hr
  = render :partial => 'shared/filter', :locals => {:objects => @messages, :search => @search, :path => :dashboard_messages_path, :recent => true}
  - unless @messages.empty?
    - @messages.each do |message|
      = render :partial => 'shared/message', :locals => {:message => message, :editable => message.user_id == current_user.id}
  - else
    %p.center No messages found
  %br
  = render :partial => 'shared/pagination', :locals => {:objects => @messages, :search => @search, :path => :dashboard_messages_path}