%section{:id => 'dashboard_messages_new'}
  .sidebar
    .sidebar_header
      = image_tag('/assets/icons/message_60.png', :size => "60x60", :alt => "Photo")
      %h2 New Message
    .sidebar_buttons
      = submit_tag 'Save', :form => 'new_message'
      = link_to 'Back to messages', dashboard_messages_path, :class => 'button'
  .content
    = render :partial => 'form', :locals => {:message => @message, :url => dashboard_messages_path}