$primary-color: #708D98;
$secondary-color: #FFAB33;
$text-color: #2F2F2F;
$text-shadow-color: shade(#2F2F2F, 60%);
$link-color: #708D98;
$link-hover-color: #637E8A;
$background-color: #FFFFFF;
$divider-color: #708D98;
$alert-color: #FFAB33;
$error-color: #2F2F2F;
$black: #2F2F2F;
$orange: #FFAB33;