%section{:id => 'content_albums_new'}
  .sidebar
    .sidebar_header
      = image_tag(@album.image.url, :size => "60x60", :alt => "Image")
      %h2 New Album
    .sidebar_nav
      %nav.content_nav
        %div{:class => 'selected'}
          %a{:href => '#album'} Album
        %div
          %a{:href => '#images'} Images
        - if current_user.administrator?
          %div
            %a{:href => '#administrator'} Administrator
    .sidebar_buttons
      = submit_tag 'Save', :form => 'new_album'
      = link_to 'Back to albums', content_albums_path
  .content
    = render :partial => 'form', :locals => {:album => @album, :url => content_albums_path}