%section{:id => 'account_users_new'}
  .sidebar
    .sidebar_header
      = image_tag @user.avatar.url(:small), :size => '48x48', :alt => 'Avatar'
      %h2 New User
    .sidebar_nav
      %nav.content_nav
        %div{:class => 'selected'}
          %a{:href => '#user'} User
        %div
          %a{:href => '#password'} Password
    .sidebar_buttons
      = submit_tag 'Save', :form => 'new_user'
      = link_to 'Back to users', account_users_path
  .content
    = render :partial => 'form', :locals => {:user => @user, :url => account_users_path}