%section{:id => 'content_navs_edit'}
  .sidebar
    .sidebar_header
      %h2 Edit Nav
    .sidebar_nav
      %nav.content_nav
        %div{:class => 'selected'}
          %a{:href => '#nav'} Nav
        %div
          %a{:href => '#links'} Links
        - if current_user.administrator?
          %div
            %a{:href => '#administrator'} Administrator
    .sidebar_buttons
      = submit_tag 'Save', :form => "edit_nav_#{@nav.id}"
      = link_to 'Back to navs', content_navs_path
  .content
    = render :partial => 'form', :locals => {:nav => @nav, :url => content_nav_path}