section#dashboard_overview_index {
  div.info {
    h3.messages {
      background-image: url('/assets/icons/message.png');
    }
  
    h3.activity {
      background-image: url('/assets/icons/activity.png');
    }
  
    h3.cashier {
      background-image: url('/assets/icons/news.png');
    }
  }
}